body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);  
  color: white;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #ecf0f1;
  background-color: #B721FF;
  color: white;
}

#result-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #21D4FD;
  background-image: linear-gradient(30deg, #B721FF 0%, #21D4FD 100%);  
}

#result-screen h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #fff;
  text-shadow: 1px 3px #B721FF;
}

#new-game-btn {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ecf0f1;
  background: #B721FF;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#new-game-btn:hover {
  border: 2px solid #ecf0f1;
  background: #21D4FD;
}